<!DOCTYPE html>
<html>
  <head>
    <title>User Info</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>userInfoId: <%= userInfoId %></h1>
    <h1>userId    : <%= userId %></h1>
    <h1>userName : <%= userName %></h1>
    <h1>role : <%= role %></h1>
    <h1>roleLevel : <%= roleLevel %></h1>
    <h1>createDatetime : <%= createDatetime %></h1>
    <h1>updateDatetime : <%= updateDatetime %></h1>
    <h1>isSupport : <%= isSupport %></h1>
  </body>
</html>